services:
  server:
    image: ghcr.io/kukaraf/priority-notify:latest
    ports:
      - "8000:8000"
    volumes:
      - data:/app/data
    env_file:
      - .env
    restart: unless-stopped

volumes:
  data:
